


@using Web.Models;
@model TG_Article
@{ string iTemplateId = Model.iTemplateId == 0 ? string.Empty : Model.iTemplateId.ToString(); }
<!--编辑文章视图-->
<form id="dataForm">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div style="padding-left:15px;">
        <p>
            <label>所属栏目:</label>
            <input class="easyui-combotree" value="@Model.iCategoryId" name="iCategoryId" data-options="url:'/Category/CategoryComtreeData?IsGen=0',required:true,panelHeight:'auto'">
            <label>文章属性:</label>
            <input type="checkbox" name="bIsSlide" value="true" class="bIsSlide" />发布 &nbsp;&nbsp;
            <input type="checkbox" name="bIsTop" value="true" class="bIsTop" />置顶 &nbsp;&nbsp;
            <input type="checkbox" name="bIsHot" value="true" class="bIsHot" />热点
        </p>
        <p>
            <label>文章标题:</label>
            <input class="easyui-textbox" name="sTitle" style="width:405px" value="@Model.sTitle">
        </p>
        <p>
            <label>英文标题:</label>
            <input class="easyui-textbox" name="sEnTitle" value="@Model.sEnTitle">
            <label>信息版本:</label>
            <input class="easyui-textbox" name="sVersion" value="@Model.sVersion">
            <label>独立模板:</label>
            <input name="iTemplateId" class="easyui-combobox" value="@iTemplateId" data-options="url:'/Templet/comboxData',valueField:'ID',
                        textField:'sTempletName',editable:false,height:25,width:173">
        </p>
        <p>
            <label>发布时间:</label>
            <input type="text" class="easyui-datebox" name="dPublishTime" value="@Model.dPublishTime" />
            <label>信息语言:</label>
            <input class="easyui-textbox" name="sLang" value="@Model.sLang">
            <label>作者/提供商:</label>
            <input class="easyui-textbox" name="sAuthor" value="@Model.sAuthor">
        </p>
        <p>
            <label>导图尺寸:</label>
            <input class="easyui-textbox" type="text" name="sPictureSize" value="@Model.sPictureSize" />
            <label>信息大小:</label>
            <input class="easyui-textbox" name="sSize" value="@Model.sSize">
            <label>摘要/运行环境:</label>
            <input class="easyui-textbox" name="sSummary" value="@Model.sSummary">
        </p>
        <p>
            <label style="vertical-align:top;display:block;float:left">文章的导图:</label>
            <div id="sPictureUrl" style="margin-left: 25px"></div>
            <input type="hidden" name="sPictureUrl" value="@Model.sPictureUrl" />
        </p>
        <p style="clear:both">
            <label>文章关键字:</label>
            <input class="easyui-textbox easyui-validatebox" type="text" name="sKeyword" data-options="multiline:true,height:120,width:680" value="@Model.sKeyword" />
        </p>
        <p>
            <label>文章的描述:</label>
            <input class="easyui-textbox easyui-validatebox" type="text" name="sDescription" data-options="multiline:true,height:120,width:680" value="@Model.sDescription"/>
        </p>
        <p>
            <label style="vertical-align:top;display:block;float:left">文章的内容 :</label>
            <textarea id="sContent" name="sContent" style="width:680px;height:400px;">@Model.sContent</textarea>
        </p>
    </div>
</form>
<script type="text/javascript">
    $('.bIsTop,.bIsSlide,.bIsHot').iCheck({
        labelHover: false,
        cursor: true,
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%'
    });

    var bIsSlide = '@Model.bIsSlide'=="True"?true:false;
    var bIsTop = '@Model.bIsTop'=="True"?true:false;
    var bIsHot = '@Model.bIsHot'=="True"?true:false;

    if (bIsSlide) $('.bIsSlide').iCheck('check');
    if (bIsTop) $('.bIsTop').iCheck('check');
    if (bIsHot) $('.bIsHot').iCheck('check');


    var pciture = new dpictures();
    pciture.create("sPictureUrl");
</script>
